<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome Image Grid</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .container{
            width: 90%;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://images.pexels.com/photos/9906385/pexels-photo-9906385.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/10153603/pexels-photo-10153603.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/9289070/pexels-photo-9289070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/9365604/pexels-photo-9365604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/9940538/pexels-photo-9940538.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/7194486/pexels-photo-7194486.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/10369698/pexels-photo-10369698.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/2870928/pexels-photo-2870928.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
        <img src="https://images.pexels.com/photos/11354017/pexels-photo-11354017.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
    </div>
</body>
</html>